@import "../../index.css";

.movie-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.movie-card__title {
  color: var(--moviecard-font-color);
  text-align: center;

  justify-self: flex-end;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Max 2 rader */
  -webkit-box-orient: vertical;
}

/* .movie-card__article a {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
} */

a:-webkit-any-link {
  text-decoration: none;
}

.movie-card__article {
  display: flex;
  flex-direction: column;

  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.5rem;
  height: 100%;

  background: var(--moviecard-color);
  text-align: center;
  box-shadow: var(--box-shadow);
}

.movie-card__article:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease;
  cursor: pointer;
}

.movie-card__image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border: 1px solid var(--main-dark-color);
  margin-bottom: 0.5rem;
}

.movie-card__article {
  position: relative;
}


