.header {
    background-color: rgb(23, 23, 23);
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 2rem 1rem;
    place-items: center;
}

.header__form {
    display: flex;
    gap: 1rem;
}

.header__nav {
    color: white;
    text-decoration: none;
}

.header__form-input {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    width: 20rem;
}

.header__form-btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.movie-icon {
    width: 100px;
}
